form {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 0 0.5rem ;
  margin-left: 3.5rem;
}
input[type="text"] {
  width: 100%;
  height: 3rem;
  -moz-box-sizing: border-box;
  padding: 0 0.8rem;
  border: solid 0.1rem #9d4123;
  border-top-color: #a6501e;
  border-radius: 0.3rem;
  background: #fff url(headers/images/ui/shadow.png) repeat-x left -0.1rem;
  font-size: 1.5rem;
  line-height: 3em;
  box-shadow: none;
}

form button[type="reset"] {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 0;
  width: 3rem;
  height: auto;
  margin: 0;
  display: none;
  border: none;
  background: url(headers/images/icons/clear.png) no-repeat center center / 1.7rem auto;
}

input[type="text"]:valid + button[type="reset"] {
  display: block;
}

a, button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 5rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 5rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
}

a, button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
}

a:not([aria-disabled="true"]):hover,
button:not(:disabled):hover,
a:not([aria-disabled="true"]):active,
button:not(:disabled):active  {
  background-color: #dc6a0e !important;
}

/* Disabled state */
a[aria-disabled="true"],
button[disabled]  {
  opacity: 0.5;
  pointer-events: none;
}

/* Icon definitions */
.icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 5rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}

.icon.icon-add {
  background-image: url(headers/images/icons/add.png);
}

.icon.icon-compose {
  background-image: url(headers/images/icons/compose.png);
}

.icon.icon-edit {
  background-image: url(headers/images/icons/edit.png);
}

.icon.icon-send {
  background-image: url(headers/images/icons/send.png);
}

.icon.icon-close {
  background-image: url(headers/images/icons/close.png);
}

.icon.icon-back {
  background-image: url(headers/images/icons/back.png);
}

.icon.icon-menu {
  background-image: url(headers/images/icons/menu.png);
}

.icon.icon-user {
  background-image: url(headers/images/icons/user.png);
}

.icon.icon-up {
  background-image: url(headers/images/icons/up.png);
}

.icon.icon-down {
  background-image: url(headers/images/icons/down.png);
}

.icon.icon-disabled {
  opacity: 0.5;
}

/* We need to opt out of the header separator */
a.msg-down-btn {
  background: no-repeat left center / auto 4.8rem !important;
}

.icon.icon-options {
  background-image: url(headers/images/icons/options.png);
}
