/* -----------------------------------------------------------------------------
  HEADERS: content
  We need to split content form layout to use content.css in Web Components.
----------------------------------------------------------------------------- */

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: rgba(0,0,0,0.6);
  border-radius: 0;
  text-decoration: none;
}

section[role="region"] > header:first-child menu[type="toolbar"] a,
section[role="region"] > header:first-child menu[type="toolbar"] button,
section[role="region"] > header:first-child[is] a,
section[role="region"] > header:first-child[is] button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 5rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 5rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  font-style: italic;
}

/* Navigation links (back, close and menu) */
section[role="region"] > header:first-child:not([is]) > button,
section[role="region"] > header:first-child:not([is]) > a {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: none;
  float: left;
  overflow: visible;
  margin: 0 -5rem 0 0;
}

section[role="region"] > header:first-child:not([is]) > button:after,
section[role="region"] > header:first-child:not([is]) > a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2.6rem;
  height: 5rem;
}

section[role="region"] > header:first-child:not([is]) > button .icon,
section[role="region"] > header:first-child:not([is]) > a .icon {
  display: block;
  margin: 0;
  font-size: 0;
}

/* Pressed state */
section[role="region"] > header:first-child a:focus {
  outline: none;
}

section[role="region"] > header:first-child button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem; /* To fix line-height bug (697451) */
  padding: 0;
}

section[role="region"] > header:first-child:not([is]) > a:active:after,
section[role="region"] > header:first-child:not([is]) > button:active:after,
section[role="region"] > header:first-child:not([is]) > a:hover:after,
section[role="region"] > header:first-child:not([is]) > button:hover:after,
section[role="region"] > header:first-child menu[type="toolbar"] a:hover,
section[role="region"] > header:first-child menu[type="toolbar"] button:hover,
section[role="region"] > header:first-child menu[type="toolbar"] a:active,
section[role="region"] > header:first-child[is] button:active,
section[role="region"] > header:first-child[is] a:hover,
section[role="region"] > header:first-child[is] button:hover,
section[role="region"] > header:first-child[is] a:active,
section[role="region"] > header:first-child[is] button:active {
  background-color: rgba(0,0,0,0.07);
}

/* Disabled state */
section[role="region"] > header:first-child a[aria-disabled="true"],
section[role="region"] > header:first-child button[disabled]  {
  opacity: 0.3;
  pointer-events: none;
}

/* Icon definitions */
section[role="region"] > header:first-child .icon {
  position: relative;
  float: none;
  display: inline-block;
  width: 3rem;
  height: 5rem;
  margin: 0 -1rem;
  background: transparent no-repeat center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}

section[role="region"] > header:first-child [icon] {
  font-size: 0;
}

section[role="region"] > header:first-child [icon]:before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  background: transparent no-repeat center / 3rem auto;
  top: 1rem;
  left: 1rem;
}

section[role="region"] > header:first-child:not([is]) > a .icon,
section[role="region"] > header:first-child:not([is]) > button .icon {
  background-position: -0.2rem center;
}

section[role="region"] > header:first-child .icon.icon-add,
section[role="region"] > header:first-child [icon="add"]:before  {
  background-image: url(images/icons/add.png);
}

section[role="region"] > header:first-child .icon.icon-compose,
section[role="region"] > header:first-child [icon="compose"]:before  {
  background-image: url(images/icons/compose.png);
}

section[role="region"] > header:first-child .icon.icon-edit,
section[role="region"] > header:first-child [icon="edit"]:before  {
  background-image: url(images/icons/edit.png);
}

section[role="region"] > header:first-child .icon.icon-send,
section[role="region"] > header:first-child [icon="send"]:before  {
  background-image: url(images/icons/send.png);
}

section[role="region"] > header:first-child .icon.icon-close,
section[role="region"] > header:first-child [icon="close"]:before  {
  background-image: url(images/icons/close.svg);
}

section[role="region"] > header:first-child .icon.icon-back,
section[role="region"] > header:first-child [icon="back"]:before  {
  background-image: url(images/icons/back.svg);
}

section[role="region"] > header:first-child .icon.icon-menu,
section[role="region"] > header:first-child [icon="menu"]:before  {
  background-image: url(images/icons/menu.svg);
}

section[role="region"] > header:first-child .icon.icon-user,
section[role="region"] > header:first-child [icon="user"]:before  {
  background-image: url(images/icons/user.png);
}

section[role="region"] > header:first-child .icon.icon-up,
section[role="region"] > header:first-child [icon="up"]:before  {
  background-image: url(images/icons/up.png);
}

section[role="region"] > header:first-child .icon.icon-down,
section[role="region"] > header:first-child [icon="down"]:before  {
  background-image: url(images/icons/down.png);
}

section[role="region"] > header:first-child .icon.icon-options,
section[role="region"] > header:first-child [icon="options"]:before  {
  background-image: url(images/icons/options.png);
}

/* ----------------------------------
  right-to-left tweaks
---------------------------------- */

html[dir="rtl"] section[role="region"] > header:first-child menu[type="toolbar"] a,
html[dir="rtl"] section[role="region"] > header:first-child menu[type="toolbar"] button,
html[dir="rtl"] section[role="region"] > header:first-child[is] a,
html[dir="rtl"] section[role="region"] > header:first-child[is] button {
  float: right;
}

html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > button,
html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > a {
  float: right;
  margin: 0 0 0 -5rem;
}

html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > button:after,
html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > a:after {
  right: 0;
}

html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > a .icon,
html[dir="rtl"] section[role="region"] > header:first-child:not([is]) > button .icon {
  background-position: 0.2rem center;
}

html[dir="rtl"] section[role="region"] > header:first-child .icon.icon-back {
  transform: rotate(180deg);
  background-position: -0.2rem center;
}