/* -----------------------------------------------------------------
  HEADER SKIN: default
  Default values if we are not overriding them using 
  class="skin-*"
----------------------------------------------------------------- */

section[role="region"] > header:first-child {
  color: #fff;
  background-color: #f97c17;
}

section[role="region"] > header:first-child h1 {
  color: #fff;
}
section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
  color: rgba(0,0,0,0.6);
}

section[role="region"] > header:first-child a:active:after,
section[role="region"] > header:first-child button:active:after,
section[role="region"] > header:first-child a:hover:after,
section[role="region"] > header:first-child button:hover:after {
  background-color: rgba(0,0,0,0.07);
}

section[role="region"] header h2 {
  color: #424242;
  border-bottom: solid 0.1rem #e6e6e6;
}
