/* --------------------------------------------------------------------------
  HEADER SKIN: comms
  .skin-comms will override default values
-------------------------------------------------------------------------- */

.skin-comms section[role="region"] > header:first-child  {
  background-color: #33cccc;
}

.skin-comms section[role="region"] > header:first-child > a:not([aria-disabled="true"]):active:after,
.skin-comms section[role="region"] > header:first-child > button:not(:disabled):active:after,
.skin-comms section[role="region"] > header:first-child > a:not([aria-disabled="true"]):hover:after,
.skin-comms section[role="region"] > header:first-child > button:not(:disabled):hover:after,
.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):hover,
.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):hover,
.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active {
  background-color: rgba(0,0,0,0.1);
}

.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] a,
.skin-comms section[role="region"] > header:first-child menu[type="toolbar"] button {
  color: rgba(0,0,0,0.5);
}
